{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1> {{ episode.number }} : {{ episode.title }}</h1>
        <a href="{{ path('wild_show', { 'slug' : programTitle}) }}">Série : {{ program.title }}</a>
        <br>
        <a href="{{ path('show_season', { 'id' : season.id}) }}">Saison : {{ season.number }}</a>
        <h2>Synopsis</h2>
        <p>{{ episode.synopsis }}</p>

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>

    </div>
{% endblock %}